body {
    margin: 0;
    background: #e6d7c8;
}

#frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    padding: 10px;
}

canvas {
    cursor: pointer;
}
